[class*="ag-theme-"] {
  --bgColor: #bbffcc;
  --border: var(--ag-row-border-style) #777777 var(--ag-row-border-width);
}

.cell-span-head {
  background-color: var(--bgColor);
  border: var(--border);
  border-right: var(--border);
  box-sizing: border-box;
  border-top: var(--border);
}

.cell-span-leaf {
  background-color: var(--bgColor);
  border-left: var(--border);
  border-right: var(--border);
  border-top: unset;
  color: transparent;
  box-sizing: border-box;
}

.cell-span-original {
  background-color: var(--bgColor);
  border: var(--border) !important;
  border-right: var(--border) !important;
}
